* {
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	background-color: @grey-mercury;
}

.presentation{
	height: 100vh;
	width: 100%;
	padding-top: 45vh;

	h2{
		width: 80%;
		padding: 20px;
		text-align: center;
		margin: auto;
		color: white;
		font-size: 6rem;
		font-family: LemonMilk;
		background-color: rgba(0,0,0,0.6);
		border-radius: 20px;
	}
}
.content{
	width: 100%;
	text-align: center;

	h3{
		width: 100%;
		font-size: 2rem;
		text-align: center;
		font-family: LemonMilk;

	}

	p{
		font-family: Verdana;
		background-color: white;
		width: 90%;
		margin: auto;
	}
}

